@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="page-header">
        <h2>Sql Sentence</h2>
    </div>
    <div class="body-content">
        <div class="row clearfix" style="margin-bottom: 10px;">
            <textarea id="CommandText" class="col-md-10 col-sm-10 " rows="10"></textarea>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <div class="col-sm-3 col-md-3">
                    <input class="btn btn-default btn-success" value="Run" />
                </div>
                <div class="col-sm-3 col-md-3">
                    <input class="btn btn-default btn-warning" value="Save" />
                </div>
                <div class="col-sm-3 col-md-3">
                    <input class="btn btn-default btn-danger" value="Stop" />
                </div>
                <div class="col-sm-3 col-md-3">
                    <input class="btn btn-default btn-primary" value="Export" data-role="btn_export"/>
                </div>
            </div>
        </div>

    </div>
    <div class="body-content">
        <div class="page-header">
            <h2>Result</h2>
        </div>
        <div class="body-content clearfix">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/home/home.js"></script>
}
